<a href="https://colab.research.google.com/github/Dani-jardim/python_pretalab/blob/main/Daniela_Jardim_projeto5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto Final de Análise de Dados com Python - Avaliação de Conhecimentos

## Introdução ao Projeto:

Neste projeto final, vocês irão utilizar o banco de dados da NBA (Basketball) disponível no Kaggle para realizar uma análise completa, incluindo ETL (Extração, Transformação e Carregamento de dados), manipulação de banco de dados, consulta e cruzamento em SQL, análise estatística, e a construção de insights a partir dos dados.

O objetivo é aplicar o que foi aprendido ao longo do curso sobre manipulação de arquivos e bancos de dados, análise de dados com Python, além de desenvolver um pensamento crítico e analítico para a tomada de decisões com base nos dados.

## Resumo dos Dados:


O banco de dados contém diversas tabelas relacionadas à NBA, permitindo realizar uma análise detalhada sobre jogadores, times, estatísticas de jogos e muito mais. Abaixo, uma visão geral das tabelas e suas colunas principais:

1. Tabela 'Players':

Player_ID: Identificação única de cada jogador.

Player_Name: Nome do jogador.

Team: Equipe em que o jogador atua.

Position: Posição em que o jogador joga.

Height: Altura do jogador.

Birth_Date: Data de nascimento do jogador.


2. Tabela 'Teams':

Team_ID: Identificação única de cada time.

Team_Name: Nome da equipe.

City: Cidade em que o time está localizado.

Arena: Nome da arena onde a equipe joga seus jogos em
casa.

3. Tabela 'Games':

Game_ID: Identificação única de cada jogo.

Home_Team_ID: ID do time da casa.

Away_Team_ID: ID do time visitante.

Date: Data do jogo.

Home_Score: Pontuação do time da casa.

Away_Score: Pontuação do time visitante.

4. Tabela 'Game_Stats':

Game_ID: Identificação do jogo.

Player_ID: ID do jogador que participou do jogo.

Points: Pontos marcados pelo jogador.

Rebounds: Rebotes realizados pelo jogador.

Assists: Assistências realizadas pelo jogador

## O você precisa fazer/entregar:

1. ETL - Construindo o Fluxo de Dados:

Manipulação de Banco de Dados: Conecte ao banco de dados SQLite sobre a NBA disponível no Kaggle. Verifique as tabelas existentes no banco e entenda a estrutura dos dados.

2. Consulta e Cruzamentos em SQL:

Utilize SQL para realizar cruzamentos entre as tabelas. Relacione as tabelas Players, Teams, e Game_Stats para descobrir o desempenho de jogadores em jogos específicos e suas respectivas equipes.

3. Extração para DataFrame Pandas:

Extraia os dados processados do SQL para um DataFrame em pandas e faça o tratamento necessário, como lidar com valores faltantes e formatação correta de colunas.

4. Limpeza e Tratamento:

Verifique os dados extraídos em busca de inconsistências, como valores ausentes, tipos de dados incorretos ou duplicatas. Realize o tratamento adequado para garantir uma análise precisa.

5. Análise Estatística e Visualizações:

- Manipulação dos Dados

Vamos explorar formas avançadas de manipular os dados usando apply, lambda, cut e groupby para extrair insights. Estas operações são fundamentais para um entendimento mais profundo das variáveis, bem como para a preparação de dados para análises estatísticas.

 1. Calcular a pontuação por jogador usando a função apply e uma função lambda:

 2. Agrupar os dados por time e calcular a média de pontuação, rebotes e assistências usando groupby:

 3. Classificar jogadores com base na pontuação usando cut e criar categorias de performance:


  - Estatísticas Descritivas

Após a manipulação inicial dos dados, os alunos devem calcular as principais estatísticas descritivas para variáveis de interesse, como pontuação, rebotes e assistências:

 1. Média, Mediana, Desvio Padrão e Quartis

- Probabilidade e Amostragem

Aqui, os alunos devem calcular a probabilidade de eventos específicos ocorrerem, como a probabilidade de um time ganhar ou um jogador alcançar uma pontuação acima de um determinado valor.

1. Probabilidade de um jogador marcar mais de 20 pontos;

2. Criar amostras de 30% dos dados para realizar análises estatísticas posteriores.

- Testes de Hipóteses

Agora, vocês devem realizar testes de hipóteses. Suponha que queremos testar se a média de pontos dos jogadores em casa é diferente da média de pontos dos jogadores em jogos fora de casa. Para isso, utilizaremos o Teste T.

6. Visualizações dos Dados

As visualizações são uma parte crucial da análise de dados, pois ajudam a apresentar os resultados de forma clara e compreensível.

1. Boxplot da Pontuação por Categoria de Jogador
2. Distribuição de Idade dos Jogadores com histograma
3. Gráfico de Barras mostrando a Relação entre Pontuação e Rebotes por Time

7. Conclusão da Análise

Construa uma conclusão que resuma os achados na análise.

#Montando o google Drive

In [1]:
# Conectando google
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd /content/drive/MyDrive/pretaLab/projeto05

/content/drive/MyDrive/pretaLab/projeto05

In [3]:
import os
print(os.getcwd())

/content/drive/MyDrive/pretaLab/projeto05

In [4]:
!ls

# ETL - Construindo o Fluxo de Dados

importando Bibliotecas

In [5]:
import kagglehub
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [6]:
# Conecte ao banco de dados SQLite sobre a NBA disponível no Kaggle
import kagglehub

# Download latest version
path = kagglehub.dataset_download("wyattowalsh/basketball")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/wyattowalsh/basketball?dataset_version_number=231...

100%|██████████| 697M/697M [00:27<00:00, 26.4MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/wyattowalsh/basketball/versions/231

In [ ]:
/root/.cache/kagglehub/datasets/wyattowalsh/basketball/versions/231

SyntaxError: invalid syntax (<ipython-input-7-773a1c0fd3b2>, line 1)

In [7]:
import sqlite3
import os

In [8]:
# Caminho do banco de dados baixado
db_path = os.path.join(path, "nba.sqlite")

# Conectar ao banco de dados
conn_original = sqlite3.connect(db_path)
cursor_original = conn_original.cursor()

In [9]:
# Verificar as tabelas no banco de dados
cursor_original.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor_original.fetchall()
print("Tabelas no banco de dados:")
for table in tables:
    print(table[0])

Tabelas no banco de dados:
game
game_summary
other_stats
officials
inactive_players
game_info
line_score
play_by_play
player
team
common_player_info
team_details
team_history
draft_combine_stats
draft_history
team_info_common

# Consulta e Cruzamentos em SQL

Para a tabela Players : Vocês terão que combinar, fazer um join, entre as tabelas player e commom_player_info . Com essas tabelas combinadas, vocês irão obter as informações dos jogadores como nome,equipe, posição,altura,data de nascimento.

Para a tabela Teams: Vocês terão que combinar, fazer um join, entre as tabelas team e team_details . Com essas tabelas combinadas, vocês irão obter informações sobre os times, suas cidades e arenas.

Para a tabela Gamer:Vocês irão usar a tabela game, e vai criar uma tabela só com as informações que querem usar como game_id, id do time da casa, id do time visitantes, data do jogo, pontuação de ambos os times.

Para a tabela Game_Stats: Vocês irão cruzar a tabela, fazer um join , play_by_play com a line_score  e other_stats. Com essa combinação obterão as informações de game_id,p ontos,rebounds, assistências.

Depois de criar cada tabela, crie um banco de dados, adicione as tabelas e em seguida faça o cruzamento delas. O resultado final é uma base grande e que tenhas dados de jogadores, times e estatística, isto é,
um dataframe com as colunas
em que cada linha é um jogador por jogo e time com suas pontuações rebotes e assistências que aqui será as colunas Turnovers. Nos tratamentos terão que limpar o dado, pois terão duplicados e coisinhas a mais. CASO O CRUZAMENTO VIA SQL ESTEJA DANDO MUITOS PROBLEMAS, FAÇA VIA PANDAS COM MERGE

In [10]:
# Relacione as tabelas Players, Teams, e Game_Stats

cursor_original.execute("PRAGMA table_info('player')")
print(cursor_original.fetchall())

cursor_original.execute("PRAGMA table_info('team')")
print(cursor_original.fetchall())

cursor_original.execute("PRAGMA table_info('other_stats')")
print(cursor_original.fetchall())

[(0, 'id', 'TEXT', 0, None, 0), (1, 'full_name', 'TEXT', 0, None, 0), (2, 'first_name', 'TEXT', 0, None, 0), (3, 'last_name', 'TEXT', 0, None, 0), (4, 'is_active', 'INTEGER', 0, None, 0)]
[(0, 'id', 'TEXT', 0, None, 0), (1, 'full_name', 'TEXT', 0, None, 0), (2, 'abbreviation', 'TEXT', 0, None, 0), (3, 'nickname', 'TEXT', 0, None, 0), (4, 'city', 'TEXT', 0, None, 0), (5, 'state', 'TEXT', 0, None, 0), (6, 'year_founded', 'REAL', 0, None, 0)]
[(0, 'game_id', 'TEXT', 0, None, 0), (1, 'league_id', 'TEXT', 0, None, 0), (2, 'team_id_home', 'TEXT', 0, None, 0), (3, 'team_abbreviation_home', 'TEXT', 0, None, 0), (4, 'team_city_home', 'TEXT', 0, None, 0), (5, 'pts_paint_home', 'INTEGER', 0, None, 0), (6, 'pts_2nd_chance_home', 'INTEGER', 0, None, 0), (7, 'pts_fb_home', 'INTEGER', 0, None, 0), (8, 'largest_lead_home', 'INTEGER', 0, None, 0), (9, 'lead_changes', 'INTEGER', 0, None, 0), (10, 'times_tied', 'INTEGER', 0, None, 0), (11, 'team_turnovers_home', 'INTEGER', 0, None, 0), (12, 'total_turnovers_home', 'INTEGER', 0, None, 0), (13, 'team_rebounds_home', 'INTEGER', 0, None, 0), (14, 'pts_off_to_home', 'INTEGER', 0, None, 0), (15, 'team_id_away', 'TEXT', 0, None, 0), (16, 'team_abbreviation_away', 'TEXT', 0, None, 0), (17, 'team_city_away', 'TEXT', 0, None, 0), (18, 'pts_paint_away', 'INTEGER', 0, None, 0), (19, 'pts_2nd_chance_away', 'INTEGER', 0, None, 0), (20, 'pts_fb_away', 'INTEGER', 0, None, 0), (21, 'largest_lead_away', 'INTEGER', 0, None, 0), (22, 'team_turnovers_away', 'INTEGER', 0, None, 0), (23, 'total_turnovers_away', 'INTEGER', 0, None, 0), (24, 'team_rebounds_away', 'INTEGER', 0, None, 0), (25, 'pts_off_to_away', 'INTEGER', 0, None, 0)]

In [11]:
# Criando a tabela Players
cursor_original.execute('''
CREATE TABLE IF NOT EXISTS Players (
    Player_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Player_Name TEXT NOT NULL,
    Team TEXT NOT NULL,
    Position TEXT,
    Height TEXT,
    Birth_Date TEXT
)
''')

In [12]:
#Criando a tabela Teams
cursor_original.execute('''
CREATE TABLE IF NOT EXISTS Teams (
    Team_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Team_Name TEXT NOT NULL,
    City TEXT NOT NULL,
    Arena TEXT
)
''')

In [13]:
# Criando a tabela Games
cursor_original.execute('''
CREATE TABLE IF NOT EXISTS Games (
    Game_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Home_Team_ID INTEGER,
    Away_Team_ID INTEGER,
    Date TEXT,
    Home_Score INTEGER,
    Away_Score INTEGER,
    FOREIGN KEY (Home_Team_ID) REFERENCES Teams (Team_ID),
    FOREIGN KEY (Away_Team_ID) REFERENCES Teams (Team_ID)
)
''')

In [14]:
#Criando a tabela Game_Stats
cursor_original.execute('''
CREATE TABLE IF NOT EXISTS Game_Stats (
      Game_ID INTEGER NOT NULL,
      Player_ID INTEGER NOT NULL,
      Points INTEGER NOT NULL,
      Rebounds INTEGER NOT NULL,
      Assists INTEGER NOT NULL,
      FOREIGN KEY (Game_ID) REFERENCES Games(Game_ID),
      FOREIGN KEY (Player_ID) REFERENCES Players(Player_ID),
      PRIMARY KEY (Game_ID, Player_ID)
      )
''')

# Extração para DataFrame Pandas

In [15]:
query_player = '''
  SELECT
  * FROM player'''

query_team = '''
  SELECT
  * FROM team'''

query_game = '''
  SELECT
  * FROM game'''

query_other_stats = '''
  SELECT
  * FROM other_stats'''

In [16]:
df_player = pd.read_sql_query(query_player, conn_original)
df_team = pd.read_sql_query(query_team, conn_original)
df_game = pd.read_sql_query(query_game, conn_original)
df_other_stats = pd.read_sql_query(query_other_stats, conn_original)

In [17]:
df_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4815 entries, 0 to 4814
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4815 non-null   object
 1   full_name   4815 non-null   object
 2   first_name  4815 non-null   object
 3   last_name   4815 non-null   object
 4   is_active   4815 non-null   int64
dtypes: int64(1), object(4)
memory usage: 188.2+ KB

In [18]:
df_team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            30 non-null     object
 1   full_name     30 non-null     object
 2   abbreviation  30 non-null     object
 3   nickname      30 non-null     object
 4   city          30 non-null     object
 5   state         30 non-null     object
 6   year_founded  30 non-null     float64
dtypes: float64(1), object(6)
memory usage: 1.8+ KB

In [20]:
df_other_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28271 entries, 0 to 28270
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 28271 non-null  object
 1   league_id               28271 non-null  object
 2   team_id_home            28271 non-null  object
 3   team_abbreviation_home  28271 non-null  object
 4   team_city_home          28271 non-null  object
 5   pts_paint_home          28271 non-null  int64
 6   pts_2nd_chance_home     28271 non-null  int64
 7   pts_fb_home             28271 non-null  int64
 8   largest_lead_home       28271 non-null  int64
 9   lead_changes            28271 non-null  int64
 10  times_tied              28271 non-null  int64
 11  team_turnovers_home     28269 non-null  float64
 12  total_turnovers_home    27955 non-null  float64
 13  team_rebounds_home      26273 non-null  float64
 14  pts_off_to_home         26148 non-null  float64
 15  team_id_away            28271 non-null  object
 16  team_abbreviation_away  28271 non-null  object
 17  team_city_away          28271 non-null  object
 18  pts_paint_away          28271 non-null  int64
 19  pts_2nd_chance_away     28271 non-null  int64
 20  pts_fb_away             28271 non-null  int64
 21  largest_lead_away       28271 non-null  int64
 22  team_turnovers_away     28269 non-null  float64
 23  total_turnovers_away    27955 non-null  float64
 24  team_rebounds_away      26273 non-null  float64
 25  pts_off_to_away         26148 non-null  float64
dtypes: float64(8), int64(10), object(8)
memory usage: 5.6+ MB

In [54]:
df_game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65698 entries, 0 to 65697
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               65698 non-null  object
 1   team_id_home            65698 non-null  object
 2   team_abbreviation_home  65698 non-null  object
 3   team_name_home          65698 non-null  object
 4   game_id                 65698 non-null  object
 5   game_date               65698 non-null  object
 6   matchup_home            65698 non-null  object
 7   wl_home                 65696 non-null  object
 8   min                     65698 non-null  int64
 9   fgm_home                65685 non-null  float64
 10  fga_home                50251 non-null  float64
 11  fg_pct_home             50208 non-null  float64
 12  fg3m_home               52480 non-null  float64
 13  fg3a_home               47015 non-null  float64
 14  fg3_pct_home            46624 non-null  float64
 15  ftm_home                65682 non-null  float64
 16  fta_home                62694 non-null  float64
 17  ft_pct_home             62689 non-null  float64
 18  oreb_home               46762 non-null  float64
 19  dreb_home               46699 non-null  float64
 20  reb_home                49969 non-null  float64
 21  ast_home                49893 non-null  float64
 22  stl_home                46849 non-null  float64
 23  blk_home                47072 non-null  float64
 24  tov_home                47014 non-null  float64
 25  pf_home                 62842 non-null  float64
 26  pts_home                65698 non-null  float64
 27  plus_minus_home         65698 non-null  int64
 28  video_available_home    65698 non-null  int64
 29  team_id_away            65698 non-null  object
 30  team_abbreviation_away  65698 non-null  object
 31  team_name_away          65698 non-null  object
 32  matchup_away            65698 non-null  object
 33  wl_away                 65696 non-null  object
 34  fgm_away                65685 non-null  float64
 35  fga_away                50251 non-null  float64
 36  fg_pct_away             50209 non-null  float64
 37  fg3m_away               52480 non-null  float64
 38  fg3a_away               47015 non-null  float64
 39  fg3_pct_away            46736 non-null  float64
 40  ftm_away                65685 non-null  float64
 41  fta_away                62694 non-null  float64
 42  ft_pct_away             62692 non-null  float64
 43  oreb_away               46762 non-null  float64
 44  dreb_away               46700 non-null  float64
 45  reb_away                49973 non-null  float64
 46  ast_away                49897 non-null  float64
 47  stl_away                46849 non-null  float64
 48  blk_away                47073 non-null  float64
 49  tov_away                47013 non-null  float64
 50  pf_away                 62847 non-null  float64
 51  pts_away                65698 non-null  float64
 52  plus_minus_away         65698 non-null  int64
 53  video_available_away    65698 non-null  int64
 54  season_type             65698 non-null  object
dtypes: float64(36), int64(5), object(14)
memory usage: 27.6+ MB

In [49]:
df_other_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28271 entries, 0 to 28270
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 28271 non-null  object
 1   league_id               28271 non-null  object
 2   team_id_home            28271 non-null  object
 3   team_abbreviation_home  28271 non-null  object
 4   team_city_home          28271 non-null  object
 5   pts_paint_home          28271 non-null  int64
 6   pts_2nd_chance_home     28271 non-null  int64
 7   pts_fb_home             28271 non-null  int64
 8   largest_lead_home       28271 non-null  int64
 9   lead_changes            28271 non-null  int64
 10  times_tied              28271 non-null  int64
 11  team_turnovers_home     28269 non-null  float64
 12  total_turnovers_home    27955 non-null  float64
 13  team_rebounds_home      26273 non-null  float64
 14  pts_off_to_home         26148 non-null  float64
 15  team_id_away            28271 non-null  object
 16  team_abbreviation_away  28271 non-null  object
 17  team_city_away          28271 non-null  object
 18  pts_paint_away          28271 non-null  int64
 19  pts_2nd_chance_away     28271 non-null  int64
 20  pts_fb_away             28271 non-null  int64
 21  largest_lead_away       28271 non-null  int64
 22  team_turnovers_away     28269 non-null  float64
 23  total_turnovers_away    27955 non-null  float64
 24  team_rebounds_away      26273 non-null  float64
 25  pts_off_to_away         26148 non-null  float64
dtypes: float64(8), int64(10), object(8)
memory usage: 5.6+ MB

In [50]:
df = pd.merge(df_player, df_team, on='id')
df = pd.merge(df, df_game, left_on='id', right_on='game_id')
df = pd.merge(df, df_other_stats, left_on='id', right_on='game_id')
df.head()

Empty DataFrame
Columns: [id, full_name_x, first_name, last_name, is_active, full_name_y, abbreviation, nickname, city, state, year_founded, season_id, team_id_home_x, team_abbreviation_home_x, team_name_home, game_id_x, game_date, matchup_home, wl_home, min, fgm_home, fga_home, fg_pct_home, fg3m_home, fg3a_home, fg3_pct_home, ftm_home, fta_home, ft_pct_home, oreb_home, dreb_home, reb_home, ast_home, stl_home, blk_home, tov_home, pf_home, pts_home, plus_minus_home, video_available_home, team_id_away_x, team_abbreviation_away_x, team_name_away, matchup_away, wl_away, fgm_away, fga_away, fg_pct_away, fg3m_away, fg3a_away, fg3_pct_away, ftm_away, fta_away, ft_pct_away, oreb_away, dreb_away, reb_away, ast_away, stl_away, blk_away, tov_away, pf_away, pts_away, plus_minus_away, video_available_away, season_type, game_id_y, league_id, team_id_home_y, team_abbreviation_home_y, team_city_home, pts_paint_home, pts_2nd_chance_home, pts_fb_home, largest_lead_home, lead_changes, times_tied, team_turnovers_home, total_turnovers_home, team_rebounds_home, pts_off_to_home, team_id_away_y, team_abbreviation_away_y, team_city_away, pts_paint_away, pts_2nd_chance_away, pts_fb_away, largest_lead_away, team_turnovers_away, total_turnovers_away, team_rebounds_away, pts_off_to_away]
Index: []

[0 rows x 92 columns]

In [ ]:
# Extraia os dados processados do SQL para um DataFrame
#df_answers_games = pd.read_sql_query("SELECT * FROM Players, Teams, Games, Game_Stats ",  conn_original)
#df_answers_games.head()

Empty DataFrame
Columns: [Player_ID, Player_Name, Team, Position, Height, Birth_Date, Team_ID, Team_Name, City, Arena, Game_ID, Home_Team_ID, Away_Team_ID, Date, Home_Score, Away_Score, Game_ID, Player_ID, Points, Rebounds, Assists]
Index: []

[0 rows x 21 columns]

In [ ]:
# faça o tratamento necessário, como lidar com valores faltantes e formatação correta de colunas.

# Limpeza e Tratamento

In [ ]:
# Verifique os dados extraídos em busca de inconsistências.

In [ ]:
# Verificarvalores ausentes, tipos de dados incorretos ou duplicatas

# Análise Estatística e Visualizações

In [ ]:
#Calcular a pontuação por jogador usando a função apply e uma função lambda:

In [ ]:
# Agrupar os dados por time e calcular a média de pontuação, rebotes e assistências usando groupby:

In [ ]:
#Classificar jogadores com base na pontuação usando cut e criar categorias de performance:

# Estatísticas Descritivas

In [ ]:
#Calcular média, mediana, desvio padrao e quartis de pontuaçao, rebotes e assistencias

In [ ]:
#Criar amostras de 30% dos dados para realizar análises estatísticas posteriores

Probabilidade e Amostragem

In [ ]:
#Probabilidade de um jogador marcar mais de 20 pontos;

In [ ]:
#Calcular a probabilidade de um time ganhar ou um jogador alcançar uma pontuação acima de um determinado valor.

Testes de Hipóteses

In [ ]:
#Testar se a média de pontos dos jogadores em casa é diferente da média de pontos dos jogadores em jogos fora de casa, TESTE T

#Visualizações dos Dados

In [ ]:
#Boxplot da Pontuação por Categoria de Jogador

In [ ]:
#Distribuição de Idade dos Jogadores com histograma

In [ ]:
#Gráfico de Barras mostrando a Relação entre Pontuação e Rebotes por Time

#Conclusão da Análise

In [ ]:
#Construa uma conclusão que resuma os achados na análise.